/*
Theme Name:     2017 Child
Theme URI:      http://earlybird.kr/
Description:    Child theme for the Twentyseventeen theme 
Author:         tebica
Author URI:     http://earlybird.kr/about/
Template:       twentyseventeen
Version:        0.1.0
*/

@import url("../twentyseventeen/style.css");

body {
	color:#111;
	font-size:15px;
	word-break:keep-all; overflow-wrap:break-all; /* avoid a word break in Korean words  */
}
/*body .entry-content, body .entry-summary, body .entry-title{ */
body * { 
	font-family: "Apple SD Gothic Neo", "Malgun Gothic", Dotum, Helvetica, Arial, sans-serif;
}
body .site{
	margin-top:0;
	margin-bottom:0;

}
.wrap{
	padding-left:1.2em;
	padding-right:1.2em;
}
.hentry{
	text-align: justify;
	word-wrap: break-word;
	font-size:18px;
	line-height:1.6em;
}
ul li, ol li{
	line-height:1.4em;
	padding-bottom:8px;
}
.site-title a{
	font-family: "Courier New";
	margin-bottom:40px;
}

.entry-header .entry-title {
	font-weight:bold;
}

h1.entry-title a{
	color:#8A0808;
	font-size:22px;
}

.entry-content a{
	color:#c9242a;
	text-decoration:none;
	border-bottom: 1px dotted #c9242a;
}

.entry-content blockquote, .comment-content blockquote{
	font-style: normal;
	color: #999;
}

.byline{
	margin:0 0 0.2em 0;
}

.single-post:not(.has-sidebar) #primary {
	max-width: 840px;
}

@media screen and (min-width: 48em) {
	body:not(.has-sidebar):not(.page-one-column) .page-header{
		float:none;
		width:90%;
	}

	.blog:not(.has-sidebar) #primary article{
		float:none;
		width:90%;
	}
	body.page-two-column:not(.archive) #primary .entry-header{
		width:14%;
	}
	body.page-two-column:not(.archive) #primary .entry-content{
		width:80%;
	}


}
