/*
Theme Name: Twenty Nineteen Child
Theme URI: https://en-gb.wordpress.org/themes/twentynineteen/
Author: ChildThemeWP.com
Author URI: https://childthemewp.com
Description: My WordPress Twenty Nineteen child theme.
Template: twentynineteen
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0.0
Text Domain: twentynineteen-child
*/

body {
        font-family: 'AppleSDGothicNeo-Light','Apple SD Gothic Neo','맑은 고딕', Malgun Gothic,
                     '돋움', Dotum, Helvetica, AppleGothic, Arial !important; 
        /*word-break:keep-all; overflow-wrap:break-all;*/ /* avoid a word break in Korean words  */
}

body, .hentry{
        word-wrap: break-word;
        font-size:0.9em;
        line-height:1.7em;
}
.site-title a{
        font-family: "courier new", "Arial Black", Arial;
        font-size: 1.8em;
        font-weight: bold;
        opacity: 0.8;
}
.site-header{
  padding: 1rem;
}
h1{ font-size: 2.25em}
h2{ font-size: 1.6em}
h1, h2, h3, h4, h5, h6{
  word-break: keep-all;
}
h2:before {
  display:none; /* remove uppper line above H2 */
}

.widget_categories ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li {
  font-size:1em;
}
.widget_search .search-submit {
  display: inline;
}
.widget_search .search-field {
  width:60%;
}
.hentry {
  font-size:0.73em;
  letter-spacing: -0.025em;
}

.entry{
  margin-top:0;
}
.entry .entry-footer{
  margin-top:0;
  margin-bottom:0;
}
.entry-footer > span.byline{
  display: none;
}

@media only screen and (min-width: 48em) {
  .entry .entry-content > *{
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}
@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}